/*Parte inicial*/

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
}
html {
    font-size: 62,4%;
    position: relative;  }
body{
    background-color: aliceblue;
    
}



/*Navegacion*/
header{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color:#84b6f4 ;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    font-size: 2rem;
    color: #2A2A2A;
}
header .logo span{
    color: #d1790c;
}
header .navbar a{
    font-size: 1.4rem;
    margin-left: 2rem;
    color: white;
}
header .navbar a:hover{
    color: #95e1d3;
}
header input{
    display: none;

}
header label{
    font-size: 2rem;
    color: #17bb9d;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}


/*Responsividad de la parte de navegacion*/
@media (max-width:1200px){
    html{
        font-size: 75%;

    }
}
@media (max-width:768px){
    header label{
        visibility: visible;
        opacity: 1;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #f38181;
        padding: 1rem 2rem;
        border-top: .1rem solid rgb(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .1);
        transform-origin: top ;
        transform: scaleY(0);
        opacity: 0;
    }
    header .navbar a{
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
        text-align: center;

    }
    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }
    header input:checked ~ label ::before{
        content: '\f00d' ;
    }
}
@media (max-width:300px){
    html{
        font-size: 65%;
    }
}
  /*Footer o parte de abajo*/
  footer{
    position: absolute;
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark);
    color: black;
    background-color: #f4c284;
}

.copyright-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
}

.copyright{
    font-size: 12px;
    opacity: 0.7;
    font-weight: 900;
    padding: 10px 0;
}

.footer-menus{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
}

.footer-container{
    height: fit-content;
    width: 100%;
    padding: 3rem 6rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-content-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

footer .website-logo{
    margin-bottom: 1.2rem;
    font-size: calc(1vw + 20px);
}

.footer-info, .menu-item-footer{
    margin: 0.2rem 0;
    opacity: 10;
    color: black;
    text-decoration: none;
    transition: 0.5s;
    font-weight: 550;

}

.menu-item-footer:hover{
    opacity: 1;
}

.menu-title{
    font-size: var(--medium-text-font);
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}


/*MEDIA QUERY*/
@media (max-width: 768px){
    
    .footer-container{
        padding: 2rem;
        flex-direction: column;
    }

    .footer-content-container{
        width: 100%;
        padding: 2rem 0;
        border-bottom: 1px solid black;
        justify-content: center;
        align-items: center;
    }

    .footer-content-container:nth-of-type(1){
        align-items: flex-start;
    }
    .footer-content-container:nth-of-type(3){
        border-bottom: none;
        padding-bottom: 0;
    }

    .footer-menus{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #2A2A2A;
    }

    .footer-menus .footer-content-container:nth-of-type(1){
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }
    .footer-menus .footer-content-container:nth-of-type(2){
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }
}


/*Parte del centro 1*/
section{
    min-height: 100vh;
    padding: 0 8%;
    padding-top: 9.5rem;
    padding-bottom: 0rem;


}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: linear-gradient(70deg, #84b6f4, #f4c284);
    text-decoration: none;


}
.btn:hover{
    transform: scale(1.1);
}
.inicio{
    display: flex;
    align-items: center;
    justify-content: center;

}
.inicio .image img{
    width: 100vh;
    animation: float 3s linear infinite;

}
@keyframes float {
    0%, 100%{
        transform: translateX(0rem);

    }
    50%{
        transform: translateX(-2.5rem);
    }
}

.inicio .content h3 {
    font-size: 3.0rem;
    color: black;
    text-transform: uppercase;
}
.inicio .content h3 span{
    color: #188f79;
    text-transform: uppercase;
}
.inicio .content p{
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    padding: 1rem 0;
}
/*Parte del centro 2*/
.Imagen{
    height: 12rem;
    width: 15rem;
}
.heading{
    text-align: center;
    background: #188f79;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size:3rem ;
    padding-bottom: 2rem;
    text-transform: uppercase;

}

.Inicio_2 .caja-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 18rem;
    flex-wrap: wrap;
}

.Inicio_2 .caja-contenedor .caja{
    flex: 1 1 30rem;
    background: #ecfffb;
    border-radius: .3rem;
    border: .1rem solid rgb(0, 0, 0);
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .1);
    margin: 1.5rem;
    padding: 3rem 2rem;
    border-radius: .4rem;
    text-align: center;
    transition: .2s linear;
}
.Inicio_2 .caja-contenedor .caja h3{
    font-size: 2rem;
    color: #17bb9d;
    padding-top: 1rem;
}

.Inicio_2 .caja-contenedor .caja p{
    font-size: 1.3rem;
    color: #666;
    padding: 1rem 0;
}