/*Parte inicial*/

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
}
html {
    font-size: 62,4%;
    position: relative;  }
body{
    background-color: aliceblue;
    
}



/*Navegacion*/
header{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color:#84b6f4 ;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    font-size: 2rem;
    color: #188f79;
}
header .logo span{
    color: #000000;
}
header .navbar a{
    font-size: 1.4rem;
    margin-left: 1.5rem;
    color: white;
}
header .navbar a:hover{
    color: #95e1d3;
}
header input{
    display: none;

}
header label{
    font-size: 2rem;
    color: #17bb9d;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}


/*Responsividad de la parte de navegacion*/
@media (max-width:1200px){
    html{
        font-size: 75%;

    }
}
@media (max-width:768px){
    header label{
        visibility: visible;
        opacity: 1;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #f38181;
        padding: 1rem 2rem;
        border-top: .1rem solid rgb(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .1);
        transform-origin: top ;
        transform: scaleY(0);
        opacity: 0;
    }
    header .navbar a{
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
        text-align: center;

    }
    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }
    header input:checked ~ label ::before{
        content: '\f00d' ;
    }
}
@media (max-width:300px){
    html{
        font-size: 65%;
    }
}
  /*Footer o parte de abajo*/
  footer{
    position: absolute;
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark);
    color: black;
    background-color: #f4c284;
}

.copyright-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
}

.copyright{
    font-size: 12px;
    opacity: 0.7;
    font-weight: 900;
    padding: 10px 0;
}

.footer-menus{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
}

.footer-container{
    height: fit-content;
    width: 100%;
    padding: 3rem 6rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-content-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

footer .website-logo{
    margin-bottom: 1.2rem;
    font-size: calc(1vw + 20px);
}

.footer-info, .menu-item-footer{
    margin: 0.2rem 0;
    opacity: 10;
    color: black;
    text-decoration: none;
    transition: 0.5s;
    font-weight: 550;

}

.menu-item-footer:hover{
    opacity: 1;
}

.menu-title{
    font-size: var(--medium-text-font);
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}


/*MEDIA QUERY*/
@media (max-width: 768px){
    
    .footer-container{
        padding: 2rem;
        flex-direction: column;
    }

    .footer-content-container{
        width: 100%;
        padding: 2rem 0;
        border-bottom: 1px solid black;
        justify-content: center;
        align-items: center;
    }

    .footer-content-container:nth-of-type(1){
        align-items: flex-start;
    }
    .footer-content-container:nth-of-type(3){
        border-bottom: none;
        padding-bottom: 0;
    }

    .footer-menus{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #2A2A2A;
    }

    .footer-menus .footer-content-container:nth-of-type(1){
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }
    .footer-menus .footer-content-container:nth-of-type(2){
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }
}


/*Parte del centro 1*/
section{
    min-height: 100vh;
    padding: 0 8%;
    padding-top: 9.5rem;
    padding-bottom: 0rem;


}
.content{

    border: .3rem solid #5589c4;
    border-radius: .3rem;
    padding-top:1rem ;
    padding-bottom: 3rem;
    margin-bottom: 20rem;

}

/* codigo kain */
.solicitudesGeneral{
    display: flex;
    justify-content: space-around;
    
}
.solicitudesParte-1{
    display: flex;
    flex-direction: column;
    width: 18%;
    margin: 0px -220px 0px -94px;
}
.solicitudesParte-2{
    display: flex;
    width: 60%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}
.list-T-especialistas{
    padding: 10px 10px 10px 10px;
    border: solid #f4c284;
    margin-bottom: 10px;
    background-color: #f4c284;
    text-decoration: none;
    width: 250px;
    color: #000000;
}
.opcionesEspecialistas{
    padding: 10px 10px 10px 10px;
    border: solid #f4c284;
    background-color: #f4c284;
    font-size: 16px;
    width: 250px;
}
.img-postulante{
    height: 200px;
 width: 200px;
}
.icons-class{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}
.text-postulante{
    text-align: center;
    margin-bottom: 20px;
}
